# all models
*.pt

# all dirs with output
distill/dataset/
distill/images*/
kaggle/
distill/segm/
deepfash/images/
deepfash/images_fullres/
deepfash/segm/
deepfash/labels/
deepfash/train/
deepfash/val/
deepfash/test/
predictions/
trains/
datasets/
scratch/
runs/


# ide project files
.idea/
.ipynb_checkpoints/

# MacOS cache files
.DS_Store

*.zip

__pycache__/
